body {
    margin: 0;
}

.top, .mid, .bot {
    width: 200px;
    height: 200px;
    position: absolute;
    box-sizing: border-box; /* bordes exactos */
}

.top {
    background-color: pink;
    border: 10px solid;
    padding: 20px;
    top: 0px;
    left: 0px;
}

.mid {
    background-color: lightseagreen;
    border: 20px solid;
    padding: 20px;
    top: 200px;
    left: 200px;
}

.bot {
    background-color: lightblue;
    border: 10px solid;
    padding: 20px;
    top: 400px;
    left: 400px;
}
